VITE_WHATSAPP_NUMBER=5521967635340
VITE_WHATSAPP_MESSAGE=Olá! Gostaria de solicitar um orçamento.
VITE_GOOGLE_MAPS_EMBED_URL=https://www.google.com/maps?q=Avenida%20Ces%C3%A1rio%20de%20Melo%2C%202571%2C%20Campo%20Grande%2C%20Rio%20de%20Janeiro%20RJ&output=embed
